pipelines/ms_lms_pl_raw_to_landing.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "ms_lms_con_adls_raw": {
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "name": "ms_lms_pl_raw_to_landing",
            "type": "pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Get files from raw folder",
                        "type": "GetMetadata",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "typeProperties": {
                            "fieldList": [
                                "childItems"
                            ],
                            "datasetSettings": {
                                "annotations": [],
                                "type": "DelimitedText",
                                "typeProperties": {
                                    "location": {
                                        "type": "AzureBlobFSLocation",
                                        "folderPath": "raw",
                                        "fileSystem": "raw"
                                    },
                                    "columnDelimiter": ",",
                                    "escapeChar": "\\",
                                    "firstRowAsHeader": true,
                                    "quoteChar": "\""
                                },
                                "schema": [],
                                "externalReferences": {
                                    "connection": "[parameters('ms_lms_con_adls_raw')]"
                                }
                            },
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "recursive": true,
                                "modifiedDatetimeStart": {
                                    "value": "@startOfDay(utcNow())",
                                    "type": "Expression"
                                },
                                "modifiedDatetimeEnd": {
                                    "value": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}T23:59:00Z",
                                    "type": "Expression"
                                },
                                "enablePartitionDiscovery": false
                            },
                            "formatSettings": {
                                "type": "DelimitedTextReadSettings"
                            }
                        }
                    },
                    {
                        "name": "raw_to_landing_items",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "Get files from raw folder",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('Get files from raw folder').output.childItems",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "ms_lms_nb_raw_to_landing",
                                    "type": "TridentNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "typeProperties": {
                                        "notebookId": "df95a298-c4a2-4c82-bc65-c61bfc3bf236",
                                        "workspaceId": "30b7edc1-64f9-4583-8c8f-2498c1953029",
                                        "parameters": {
                                            "today_file": {
                                                "value": {
                                                    "value": "@item().name",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            },
                                            "processing_date": {
                                                "value": {
                                                    "value": "@pipeline().parameters.process_date",
                                                    "type": "Expression"
                                                },
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                ],
                "parameters": {
                    "process_date": {
                        "type": "string"
                    }
                },
                "lastModifiedByObjectId": "158f9db9-f95c-4767-af98-8d4e9b252f6b",
                "lastPublishTime": "2025-10-02T18:10:03Z"
            },
            "dependsOn": []
        }
    ]
}